# This is a basic workflow to help you get started with Actions

name: GET ARTIFACT

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  #push:
  #  branches: [ main ]
  #pull_request:
  #  branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      run_type:
        description: "Run type: regular or nightly"
        default: "regular"
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # starts  self-hosted runner in Clouds (AWS and AZURE suported for now). Cleanup in the stop-runner.
  test:
    name: Test reading 
    runs-on: ubuntu-latest
    steps:
      
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Set env
        run: echo "CRUN_SHA=$(git rev-parse --short=12 HEAD)" >> $GITHUB_ENV

      - name: check artifact
        id: check-artifact
        uses: ez-leka/persistent-artifact@v1
        with:
          github-token: ${{ secrets.GH_TOKEN }}
          artifact-name: ${{ env.CRUN_SHA }}  
          path: /tmp/kkm

      - name: Build artifact if necessary
        if: ${{ steps.check-artifact.outputs.artifact-status != 'available' }}
        run: |
          echo 'my artifact file content' > art.txt
          echo '  line 1' >> art.txt
          echo '  line 2' >> art.txt
          echo '  line 3' >> art.txt
          mkdir /tmp/kkm
          cp art.txt /tmp/kkm

      - name: Upload artifact if needed 
        if: ${{ steps.check-artifact.outputs.artifact-status != 'available' }}
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.CRUN_SHA}}
          path: /tmp/kkm
          retention-days: 7  

      - name: User artifact
        run: |
          cat /tmp/kkm/art.txt