# This is a basic workflow to help you get started with Actions

name: GET ARTIFACT

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  #push:
  #  branches: [ main ]
  #pull_request:
  #  branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      run_type:
        description: "Run type: regular or nightly"
        default: "regular"
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # starts  self-hosted runner in Clouds (AWS and AZURE suported for now). Cleanup in the stop-runner.
  test:
    name: Test reading 
    runs-on: ubuntu-latest
    steps:
      - name: read artifact
        id: read-artifact
        uses: ez-leka/workflow_artifact@ez1
        with:
          github-token: ${{ secrets.GH_TOKEN }} 
          workflow: make-artifact
          artifact-name: interworkflow-artifact        