# This is a basic workflow to help you get started with Actions

name: MAKE ARTIFACT

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  #push:
  #  branches: [ main ]
  #pull_request:
  #  branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      run_type:
        description: "Run type: regular or nightly"
        default: "regular"
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # starts  self-hosted runner in Clouds (AWS and AZURE suported for now). Cleanup in the stop-runner.
  test:
    name: Make artifact
    runs-on: ubuntu-latest
    steps:
      - name: Generate file
        id: generate-file
        run: |
          echo 'my artifact file content' > art.txt
          echo '  line 1' >> art.txt
          echo '  line 2' >> art.txt
          echo '  line 3' >> art.txt

      - uses: actions/upload-artifact@v2
        with:
          name: interworkflow-artifact
          path: ./art.txt
          retention-days: 90      

      - uses: actions/download-artifact@v2
        with:
          name: interworkflow-artifact

      - run: |
          cat ./art.txt    


