name: "Build KRUN-STATIC"
description: "Build k"
inputs:
  km-dir: # id of input
    description: "Who to greet"
    required: true
  krun-path:
    description: "Path to krun-static"
    required: true
runs:
  using: "composite"
  steps:
    - uses: actions/checkout@v2
      
    - name: Set env
        run: echo "CRUN_SHA=680961c23fd8" >> $GITHUB_ENV

      # get persistent artifact that contains static krun
      # it will set step's output variable artifact-status to either 'available' or 'not-found'
      # Note: to figure out where krun needs to be rebuild ot not we use SHA of the container-runtime/crun/ directory
      # in teh step above. That SHA becomes artifact name. If there were changes to krun, SHA will change
      # forcing the re-build
      - name: check artifact
        id: check-artifact
        uses: kontainapp/persistent-artifact@v1
        with:
          github-token: ${{ secrets.GH_TOKEN }}
          artifact-name: ${{ env.CRUN_SHA}}
          path: /tmp/krun-static
          debug: true
      
      - name: do some shell
        run: |
          set -x
          [ ! d current-runtime] mkdir ./current-runtime
          
         