# This is a basic workflow to help you get started with Actions

name: TEST RUN Workflow

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  #push:
  #  branches: [ main ]
  #pull_request:
  #  branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      run_type:
        description: "Run type: regular or nightly"
        default: "regular"
        required: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # starts  self-hosted runner in Clouds (AWS and AZURE suported for now). Cleanup in the stop-runner.
  start-runner:
    name: Start self-hosted cloud runners
    runs-on: ubuntu-latest
    outputs:
      //ec2-instance-id: ${{ steps.start-cloud-runner.outputs.ec2-instance-id }}
      run-ons: ${{ steps.start-cloud-runner.outputs.run-ons }}
    steps:
      - name: Cleanup test - AWS
        run: |
          set -x
          d=$(date -I --date "7 day ago")
          vpc_id=$(aws ec2 describe-vpcs --region 'us-east-2' --query 'Vpcs[?Tags[?Key==`Name`]|[?Value==`github-runner`]].VpcId' --output text)
          ids=$(aws ec2 --region ${AWS_REGION} describe-instances --filter Name=vpc-id,Values=$vpc_id --query "Reservations[*].Instances[?LaunchTime < '$d' && State.Name=='stopped'].InstanceId" --output text)
          [ -z "$ids" ] || aws ec2 --region ${AWS_REGION} terminate-instances --instance-ids ${ids}
          rgroups=$(az vm list --show-details --output tsv --query "[?starts_with(name,'runner-') && ends_with(name,'-vm') && timeCreated < '2020-08-14T' && powerState=='VM deallocated'].resourceGroup")
          [ -z "$rgroups"] || xargs -otl az az group delete --yes --name 
          


      - name: Get public Keys 
        uses: actions/checkout@v2

      - name: Start cloud runners
        id: start-cloud-runner
        uses: kontainapp/cloud-github-runner@ez1
        with:
          # clouds: ec2
          mode: start
          github-token: ${{ secrets.GH_TOKEN }}
          runner-user: ubuntu
          subnet: "10.0.0.0"
          public-keys-dir: ${{ github.workspace }}/cloud/ssh
          ec2-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          ec2-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          ec2-region: "us-east-2"
          ec2-image: 'L0BaseAWSImage'
          ec2-instance-type: "m5.xlarge"
          ec2-vpc-name: 'github-runner'
          ec2-tags: > 
            [
              {"Key": "MyKey 1", "Value": "test-value-1"},
              {"Key": "MyKey 2", "Value": "test-value-2"}
            ]
          az-subscription-id: ${{ secrets.SP_SUBSCRIPTION_ID }}
          az-client-id: ${{ secrets.SP_APPID }}
          az-secret: ${{ secrets.SP_PASSWORD }}
          az-tenant-id: ${{ secrets.SP_TENANT }}
          az-image: "auto-github-runner:L0BaseImage"
          az-location: "westus"
          az-vm-size: "Standard_B1ls"
      
      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3
 
  test-build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Build test program
      - run: make all
      - run: cp bin/main ./runable
      - uses: actions/upload-artifact@v2
        with:
          name: my-runable
          path: ./runable
          retention-days: 7      

  github-run:
    needs: test-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: my-runable   
      - run: chmod +x ./runable
      - run: ./runable "Hello there"

  ec2-run:
    needs: [start-runner, test-build]
    runs-on: ${{ fromJSON(needs.start-runner.outputs.run-ons)['ec2'] }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: my-runable  
      - run: cat /etc/os-release
      - run: id 
      - run: chmod +x ./runable
      - run: ./runable "Hello there"

  azure-run:
    needs: [start-runner, test-build]
    runs-on: ${{ fromJSON(needs.start-runner.outputs.run-ons)['azure'] }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: my-runable  
      - run: cat /etc/os-release
      - run: id 
      - run: chmod +x ./runable
      - run: ./runable "Hello there"

  # These two steps are to clean up on-demand runner. They work in conjunction with start-runner.
  # Make sure to add dependencies in both "needs" clauses
  stop-runner:
    name: Terminate self-hosted cloud runners
    needs: [start-runner, test-build, ec2-run, azure-run]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Stop cloud runner
        uses: kontainapp/ec2-github-runner@ez1
        with:
          mode: stop
          status: ${{ toJSON(needs) }}
          github-token: ${{ secrets.GH_TOKEN }}
          ec2-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          ec2-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          ec2-region: "us-east-2"
          az-subscription-id: ${{ secrets.SP_SUBSCRIPTION_ID }}
          az-client-id: ${{ secrets.SP_APPID }}
          az-secret: ${{ secrets.SP_PASSWORD }}
          az-tenant-id: ${{ secrets.SP_TENANT }}

